
    img.hb-blur, video.hb-blur {
      filter: blur(25px) grayscale(100%) !important;
      transition: filter 0.1s ease !important;
      opacity: unset !important;
    }
  
	.hb-blur-temp { 
		animation: hb-blur-temp 20000ms ease-in-out forwards !important;
	}
	.hb-hide-temp { 
		animation: hb-hide-temp 6000ms ease-in-out forwards !important;
	}

	#hb-in-canvas {
		display: none !important;
		visibility: hidden !important;
	}

	@keyframes hb-hide-temp {
        0% { visibility: hidden;}
		95% { visibility: hidden; }
		100% { visibility: visible;}
	}

	@keyframes hb-blur-temp {
        0% { visibility: hidden;}
		28% { visibility: hidden; }
		30% { visibility: visible; filter: blur(25px) grayscale(100%); }
        95% { filter: blur(25px) grayscale(100%); }
        100% { visibility:visible; filter: unset}
	}

    .hb-wrapper {
        position: absolute;
        pointer-events: none;
    }

	.hb-rect { 
		will-change: width, height, top, left, right, bottom, transform, opacity;
		transition: all 0.3s ease;
		position: absolute;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(25px) grayscale(100%);
        -webkit-backdrop-filter: blur(25px) grayscale(100%);
        pointer-events: none;
	}
  





